<center>
  <%= image_tag('logo-azul-completa.png', class: 'logo')%>
  <div class="container-header">
    <h2>Cadastre-se hoje!</h2>
  </div>
</center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container-form">

    <div class="field">
      <%= f.email_field :email, autofocus: true, class: 'input-auth', placeholder: 'E-mail', required: true %>
    </div>

    <div class="field">
      <%= f.password_field :password, class: 'input-auth', placeholder: 'Senha', required: true %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, class: 'input-auth', placeholder: 'Confirmação de senha', required: true %>
    </div>

    <div class="actions">
      <%= f.submit "CADASTRAR", class: 'btn btn-purple', style: 'margin-top: 30px;' %>
    </div>
  </div>

  <div class="links">
    <center> 
      <%= link_to "Entrar", new_session_path(resource_name), class: 'link-auth' %>
    </center>
  </div>
<% end %>