<div class="container-default">
	<div class="container-header">
		<div class="row">
			<div class="col-1 col-sm-2 col-md-2 col-lg-2" style="padding: 0; padding-left: 3%;">
				<%= link_to(destroy_usuario_session_path, method: :delete, class: 'link-back') do %>
					<i class="fa fa-arrow-left icon-size"> </i>
				<% end %>
			</div>
			<div class="col-10 col-sm-10 col-md-7 col-lg-7" style="padding: 0;">
				<h2> Editar Cadastro </h2>
			</div>
		</div>
	</div>

	<div class="container-body">
		<%= form_for(@pessoa, :multipart => true, method: :put) do |f| %>
			<div class="input-field">
				<%= f.label :matricula, 'Matrícula *' %><br>
				<%= f.number_field :matricula, class: 'input-form matricula', required: true %>
			</div>

			<div class="input-field">
				<%= f.label :nome, 'Nome Completo *' %><br>
				<%= f.text_field :nome, class: 'input-form', required: true %>
			</div>

			<div class="input-field">
				<%= f.label :apelido, 'Como gostaria de ser chamado? *' %><br>
				<%= f.text_field :apelido, class: 'input-form', required: true %>
			</div>

			<div class="input-field">
				<%= f.label :curso, 'Curso *' %><br>
				<%= f.select(:curso, options_for_select(@cursos.collect {|c| ["#{c.nome} - #{c.campu.cidade if !c.campu.blank?}", c.id]}, selected: @pessoa.curso_id), {prompt: 'Selecione uma opção'}, {class: 'input-form', required: true}) %>
			</div>

			<div class="input-field">
				<%= f.label :contato, 'Contato *' %><br>
				<%= f.text_field :contato, class: 'input-form celular', required: true %>
			</div>

			<div class="input-field">
				<%= f.label :foto, 'Foto de Perfil' %><br>
				<label class="input-form" style="padding-left: 90px; padding-top: 7px;">
                  <div id="count">
                    <i class="fa fa-camera" aria-hidden="true"></i> Foto
                  </div>
                  <%= f.file_field :foto, accept: 'image/jpg, image/jpeg, image/png',id: 'file',class: 'input-file' %>
                </label>
			</div>

			<%= button_tag(class: 'btn btn-purple') do %>
				SALVAR
			<% end %>
		<% end %>
	</div>
</div>

<%= stylesheet_link_tag 'pessoas' %>
<%= javascript_include_tag 'pessoas' %>

<script type="text/javascript">
	<% if !flash[:notice].blank? %>
		alertComplete("<%= flash[:notice] %>");
	<% end %>
	
	$("input:file").change(function (){
	    var fileName = $(this).val();
    	if (fileName){
      		if(fileName ==  document.getElementById("file").value){
        		document.getElementById("count").innerHTML = "<span class='badge badge-purple'>1</span> Foto";
      		}
    	}
    });
	$(".matricula").mask('999999');
    $(".celular").mask('(99) 99999-9999');
	
</script>