<div class="container-default">
	<div class="container-header">
		<div class="row">
			<div class="col-12 col-sm-12">
				<h2> Perfil </h2>
			</div>
		</div>
	</div>
	<div class="container-body">
		<div class="row">
			<div class="col-10">
				<%= image_tag((!@pessoa.foto) ? @pessoa.foto.url : 'avatar.png', class: 'image-profile') %>
			</div>
			<div class="col-2">
				<%= link_to(pessoas_editar_perfil_path, class: 'btn btn-purple btn-circle') do %>
					<i class="fa fa-pencil"></i>
				<% end %>
			</div>
		</div>

		<div class="container-info">

			<h1 class="info-apelido">
				<%= @pessoa.apelido %> 
			</h1>

			<h2 class="info-nome">
				<%= @pessoa.nome %> 
			</h2>

			<div class="row">
				<div class="col-12 container-label">
					<div class="row">
						<div class="col-4" style="padding-right: 0;">
							<p class="label-attr"> Matricula</p> 
						</div>
						<div class="col-8 text-right"  style="padding-left: 0;">
							<p class="label-info"><%= @pessoa.matricula %></p> 
						</div>
					</div>
					<hr>
				</div>

				<div class="col-12 container-label">
					<div class="row">
						<div class="col-4" style="padding-right: 0;">
							<p class="label-attr"> Curso</p> 
						</div>
						<div class="col-8 text-right"  style="padding-left: 0;">
							<p class="label-info"><%=  @pessoa.curso.nome %></p> 
						</div>
					</div>
					<hr>
				</div>

				<div class="col-12 container-label">
					<div class="row">
						<div class="col-4" style="padding-right: 0;">
							<p class="label-attr"> Campus</p> 
						</div>
						<div class="col-8 text-right"  style="padding-left: 0;">
							<p class="label-info"><%= @pessoa.campu.nome %></p> 
						</div>
					</div>
					<hr>
				</div>

				<div class="col-12 container-label">
					<div class="row">
						<div class="col-4" style="padding-right: 0;">
							<p class="label-attr"> Contato</p> 
						</div>
						<div class="col-8 text-right"  style="padding-left: 0;">
							<p class="label-info"><%= @pessoa.contato %></p> 
						</div>
					</div>
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col-12" style="margin-top: 40px;">
					<div class="row">

						<div class="col-5 container-hours-left">
							<p class="label-hours">
								<span class="label-time"> <%= (!@horas_realizadas.blank?) ? @horas_realizadas.to_s.gsub('.',',') : '0' %> horas </span> 
								<span class="label-complete"> realizadas </span> 
							</p>
						</div>

						<div class="col-1 container-hours-center">
							<div class="line-vertical"></div>
						</div>

						<div class="col-5 container-hours-right">
							<p class="label-hours">
								<span class="label-time"> <%= (!@horas_totais.blank?) ? @horas_totais.to_s.gsub('.',',') : '0' %> horas </span> 
								<span class="label-complete"> necessárias </span> 
							</p>
						</div>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 container-sign-out">
					<%= link_to(destroy_usuario_session_path, method: :delete, class: 'bn btn-purple-inverse') do %>
                    	SAIR <i class="fa fa-sign-out"></i>
                    <% end %>
				</div>
			</div>

		</div>
	</div>
</div>

<%= stylesheet_link_tag 'pessoas' %>
<%= javascript_include_tag 'pessoas' %>

<script type="text/javascript">
	<% if !flash[:notice].blank? %>
		alertComplete("<%= flash[:notice] %>");
	<% end %>
</script>